{
    "issuer": "${oidc_issuer}",
    "clientId": "${oidc_client_id}",
    "redirectUri": "${oidc_redirect_uri}",
    "jwksUri": "${oidc_jwks_uri}",
    "tokenEndpoint": "${oidc_token_endpoint}",
    "authorizationEndpoint": "${oidc_authorization_endpoint}",
    "requiredRole": "${oidc_required_role}",
    "roleKey": "${oidc_role_key}",
    "cacheMaxAgeMilliseconds": "600000"
}
